*{
    text-align: center;
}

.buttonContainer{
    display: flex;
}


.button{
    padding: 5px 25px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
    /* background-color: rgb(24, 175, 13); */
    color: aliceblue;
}

.admin{
    position: absolute;
    left: 5px;
    bottom: 5px;
    margin: 10px;
}