* {
    margin: 0;  /* ブラウザ依存のマージンはリセット */
    padding: 0;
  }

body {
    margin: 0;
    padding: 0;
    background-color: rgb(233, 233, 233);
    font-size: 25px
 }

 div {
    margin: 0;
    padding: 0;    
 }

 .top_block{
    margin-top: 5px;
    margin-left: 5px;
 }
 .bottom_block_margin{
    margin-top: 2.5px;
    margin-left: 5px;
 }

.top{
    /* background-color: rgb(39, 173, 173); */
    color: #fff5ee;
    /* font-size: x-large; */
    height: calc(55vh);
    display: flex;
    margin-right: 5px;
}

.App > button{
    font-size: 30px;
    background-color: #179617;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;

}

.bottom{
    /* background-color: rgb(213, 110, 139); */
    color: #fff5ee;
    /* font-size: x-large; */
    height: calc(45vh);
    display: flex;
    margin-right: 5px;
}

.menu{
    background-color: #44465A;
    color: seashell;
    /* font-size: x-large; */
    width: 15vw;
    height: calc(55vh - 7.5px);
    /* padding: 10px; */
    box-sizing: border-box; 
}

.general{
    /* background-color: rgb(230, 230, 230); */
    background-color: rgb(56, 56, 56);
    /* background-color: #481190; */
    color: seashell;
    /* width: 85vw; */
    width: calc(100vw - 10px);
    height: calc(55vh - 7.5px);
    padding: 10px;
    box-sizing: border-box; 
    display: flex;
    border-radius: 15px;
}

.my_info{
    background-color: #481190;
    color: #fff5ee;
    /* font-size: x-large; */
    height: calc(45vh - 7.5px);
    /* width: calc(100vw * 2/3); */
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.im_posi{
    background-color: #C1272D;
}

.im_neg{
    background-color: #0071BC;
}

.my_left_info{
    /* background-color: rgb(79, 79, 79); */
    /* width: 65%; */
    width: 40vw;
    padding: 10px;
    box-sizing: border-box; 
}

.my_right_info{
    /* background-color: rgb(92, 5, 5); */
    width: 45vh;
    padding: 10px;
    box-sizing: border-box; 
}

.message{
    background-color: rgba(255, 255, 255, 0.213);
    color: #fff5ee;
    /* font-size: x-large; */
    height: 50vh;
    /* width: calc(100vw * 1/3); */
    /* width: 100%; */
    width: calc(60vw - 45vh - 20px);
    height: calc(45vh - 12.5px);
    padding: 10px;
    box-sizing: border-box; 
    border-radius: 15px;
}
